.accordion-container {
  border: 1px solid #c1bcbc;
  border-radius: 5px;
  background-color: #f5f3f3;
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .accordion-body {
    transition: height 1s;
  }
}
